* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    width: 300px;
}

.bg-ligthblue {
    background-color: lightskyblue;
}

.form-container {
    border-radius: 5px;
    padding: 30px;
}